* {
  box-sizing: border-box;
}

.body {
  padding-top: 40px;
  background-color: #298eea;
  font-family: Helvetica;
}

.container {
  padding: 0 15px;
}

.logo {
  display: block;
  margin: 0 auto 29px;
}

/*******************************************
FORM
*******************************************/
.form {
  /**/
  background: #ffffff;
  max-width: 400px;
  margin: 0 auto 25px;
  padding: 40px;
  border-radius: 3px;
}

.headline {
  /**/
  margin-bottom: 46px;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.formGroup {
  /**/
}

.label {
  /**/
  margin-bottom: 20px;
  display: block;
  font-weight: 600;
  font-size: 15px;
}

.input {
  /**/
  display: block;
  margin-bottom: 23px;
  height: 55px;
  padding-left: 15px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #ececec;
  font-size: 16px;
}

.submit {
 /**/
 background: #2bc75e;
 border: none;
 color: #ffffff;
 width: 100%;
 height: 55px;
 font-size: 19px;
 border-radius: 3px;
 margin-bottom: 10px;
}

.submit:hover {
  background: #27bb58;
}

.forgotPassword {
  /**/
  text-align: center;
}

.forgotPassword_a {
  /**/
  color: #bdbdbd;
}

.login {
  /**/
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}

.login_link {
  /**/
  text-decoration: underline;
  color: #ffffff;
}
